* {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  body{
      background-image: url("https://wallpapercave.com/wp/wp7150805.png");
      background-size: 100%;
  }

  a{
      color: rgb(31, 139, 189);
  }
  