/*Barra de navegación*/
ul {
    list-style: none;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  header {
    background-color: #390ca352;
    border-bottom: 1px solid #b5179e;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    z-index: 999;
  }
  
  .contenidoHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
  }
  
  .logo {
    font-size: 25px;
  }
  
  .nav {
    padding-top: 0.95em;
  }
  
  .nav a:hover{
    color: #4CC9F0;
  }
  
  .main {
    margin-top: 80px;
  }
  
  .navResponsive {
    width: 100%;
    height: 100vh;
    background-color: #390ca3de;
    text-align: center;
    top: 3.8em;
    left: -400vh;
    position: absolute;
    transition: all 0.6s ease-in-out;
  }
  
  #check,
  .fas.fa-bars {
    display: none;
  }
  
  #check:checked ~ .navResponsive {
    left: 0;
  }
  
  .linksResponsive {
    color: white;
    font-size: 30px;
    margin-top: 40px;
  }
  
  .linksResponsive a:hover{
    color: #4CC9F0;
  }
  
  @media (max-width: 553px) {
    nav a {
      display: none;
    }
  
    .fas.fa-bars {
      display: inline;
      position: relative;
      bottom: 5px;
    }
  }
  
  @media (max-width: 395px) {
    .fas.fa-bars {
      bottom: 0.4em;
      left: 3em;
    }
  }
  
  .dropdown-menu{
    background-color: #390ca3;
  }
  
  .dropdown-menu a{
    color: white;
  }
  
  .dropdown-menu a:hover{
    background-color: transparent;
  }
  /*Fin barra de navegación*/