/*Paleta
https://www.pinterest.es/pin/658158933073675143/
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../Imagenes/FondoProvisional.png") fixed no-repeat;
  background-size: cover;
}

.inicio {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inicio h1{
  color: #4CC9F0;
}

.inicio h5{
  color: #4361EE;
}

.main{
  position: relative;
  top: 100vh;
}

.contenedorTexto{
  background-color: #3e37c9ab;
}

.contenedorTexto h1{
  color: #B5179E;
}

.contenedorTexto p{
  color: #4895ff;
}

