/*Paleta
https://www.pinterest.es/pin/658158933073675143/
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../Imagenes/FondoProvisional.png") fixed no-repeat;
  background-size: cover;
}

/*Barra de navegación*/
ul {
  list-style: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header {
  background-color: #390ca352;
  border-bottom: 1px solid #b5179e;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(6px);
  z-index: 999;
}

.contenidoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 60px;
}

.logo {
  font-size: 25px;
}

.nav {
  padding-top: 0.95em;
}

.main {
  margin-top: 80px;
}

.navResponsive {
  width: 100%;
  height: 100vh;
  background-color: #390ca3de;
  text-align: center;
  top: 3.8em;
  left: -400vh;
  position: absolute;
  transition: all 0.6s ease-in-out;
}

#check,
.fas.fa-bars {
  display: none;
}

#check:checked ~ .navResponsive {
  left: 0;
}

.linksResponsive {
  color: white;
  font-size: 30px;
  margin-top: 40px;
}

@media (max-width: 549px) {
  nav a {
    display: none;
  }

  .fas.fa-bars {
    display: inline;
    position: relative;
    bottom: 5px;
  }
}

@media (max-width: 395px) {
  .fas.fa-bars {
    bottom: 0.4em;
    left: 3em;
  }
}
/*Fin barra de navegación*/

.inicio {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inicio h1{
  color: #4CC9F0;
}

.inicio h5{
  color: #4361EE;
}

.main{
  position: relative;
  top: 100vh;
}

.contenedorTexto{
  background-color: #3e37c9ab;
}

.contenedorTexto h1{
  color: #B5179E;
}

.contenedorTexto p{
  color: #4895ff;
}

